*{
    font-family: Helvetica, sans-serif;
    margin: 0px;
    color: white;
    font-weight: 300;
}

body{
    background: url("pastel.jpg");
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.links{
    display: flex;
}

h2{
    margin-left: 10px;
}

h4{
    margin: 10px;
    margin-right: 10px;
}

h1{
    font-size: 100px;
    text-align: center;
    margin-left: 180px;
    transform: rotate(90deg);
    margin-top: 150px;
}

.images{
    width:200px;
    height:200px;
    position: absolute;
}

.one{
    /* left:50px; */
    left:300px;
    top:100px;
}

.two{
    /* left: 100px;
    top:200px; */
    left:400px;
    top:200px;
    width: 300px;
    height: 300px;
}

.three{
    /* left:200px;
    top:300px; */
    left:700px;
    top:400px;
    width:400px;
    height:400px;
}

.four{
    /* left:300px; */
    /* top:400px; */
    left:800px;
    top:500px;
}